<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="2PzuEDo5WBPRt9_wr8rZZvBelpfGOQD9nLpfyUOpOr0" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="res/style.css" type="text/css">
    <title>Tianji Liu</title>
</head>

<body>

<div id="header">
<div id="info">
<h1 id="name">Tianji Liu</h1>
<p>Assistant Professor</p>
<p>
    <a href="https://acs.ict.ac.cn/" target="_blank">Center for Advanced Computer Systems</a>
    <br>
    <a href="https://www.ict.ac.cn/" target="_blank">Institute of Computing Technology, Chinese Academy of Sciences</a>
</p>
<p>
    liutianji[at]ict[dot]ac[dot]cn
</p>
<p class="icons">
    <a href="https://www.linkedin.com/in/tianji-liu-60b388219" target="_blank"><img src="res/icon-linkedin.png"></a>
    <a href="https://github.com/tefantasy" target="_blank"><img src="res/icon-github.png"></a>
    <a href="https://scholar.google.com/citations?user=dhAmTS8AAAAJ" target="_blank"><img src="res/icon-google-scholar.png"></a>
</p>
</div>

<div id="photo">
<img src="res/photo.jpg">
</div>
</div>

<p>
    Tianji Liu is an Assistant Professor at the 
    <a href="https://www.ict.ac.cn/" target="_blank">Institute of Computing Technology, Chinese Academy of Sciences</a>. 
    He received his Ph.D. degree from 
    <a href="https://www.cuhk.edu.hk/english/" target="_blank">The Chinese University of Hong Kong</a>,
    under the supervision of
    <a href="https://www.cse.cuhk.edu.hk/~fyyoung/" target="_blank">Prof. Evangeline F.Y. Young</a>. 
    His research interests are parallel and efficient algorithms for logic synthesis
    and verification. 
</p>


<h2>Selected Awards and Honors</h2>
<ul id="awards">
__AWARDS__
</ul>

<h2>Publications</h2>
<ul id="pubs">
__PUBS__
</ul>

<h2></h2>
<p>
Updated on __UPDATE_TIME__.
</p>

</body>
</html>
